.account{
    .labelacc{
        top:-30px;
    }
    .fileinport{
        display: none;
    }
    .validate{
        border-bottom: 0px!important;
    }
    .edit{
        font-size: 1.5em;
        display: inline
    }
    .profileim{
        width: 150px;
        height: 250px;
        padding: 50px 0px
    }
    .editbuttoninline{
        :hover{
            cursor: pointer!important;
        }
        display: inline-block;
        a{
            i{
             font-size: 1.8rem;
            };           
            color: $red;
        }
    }
    .modal{
        overflow-y: inherit
    }
    .modal-footer{
        a{
            background-color: $red;
            color: $wit
        }
    }
    .editbutton{        
        top: 50px;
        left: calc(50% + 37.5px);
        a{
            background-color: $red
        }
    }
}