.detail{
    .pannel{
        align-items: stretch;
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .leftside,.rightside{
        min-height: 90vh;
        color: white;
        flex-basis: 450px;
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 1.2rem;
    }
    .leftside{
        order: 0
    }
    .rightside{
        order: 1;
        background-color: $grey;      
    }
    .inlineinfo{
        display: inline;
        margin-left: 5px;

    }
    .popupspeedim{
        height: 30px;
        width: 30px;
    }
    .maxspeedsign{
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 10px;


    }
    .gm-style-iw{
        color: $grey;
    }
    .violationclick{
        :hover{
            cursor: pointer!important;
        }
    }
    .switch label input[type=checkbox]:checked+.lever:after {
        background-color: $red !important;
    }
    .switch label input[type=checkbox]:checked+.lever {
        background-color: $red !important;
    }
    .overtredingstijd{
        color: white;
        font-size: 0.8rem;
        margin-right: 10px;
        background-color: $grey;
        padding: 4px;
        font-weight: 500;
        border-radius: 2px;
        height: 22px;
        white-space: nowrap;
    }
    span.badge.new:after {
        content: "";
    }
    .badge{
        white-space: nowrap;
    }
    .paxspeedtext{
        margin-right: 10px;
        max-width: 131.73px;
        word-wrap: break-word;
    }
    .overtredingenclick{
        :hover{
            cursor: pointer!important;
        }
    }
    .totaalovertredingentext{
        font-size: 0.8rem
    }
    .infowindowextratextdiv{
        max-width: 200px;
        .infowindowextratext{
            font-size: 0.9rem;
            margin: 5px 0px 0px;
        }
    }
    .collapsible{
        height: 30vh;
        overflow: auto;
        border: 0px;
        box-shadow: 0px 0px 0px;
    }
    .collapsible-header{
        cursor: default;
        color: $blue;
        font-size: 1rem;
        font-weight: 500
    }
    .infoicons{
        font-weight: 500;
    }
    .topside{
        border-top: 1px solid white;
        .subtitle{
            margin-top: 0px!important;
            padding-top: 1rem
        };
        background-color: $grey;
        display:block;
        width: 100vw;
        .chartjs-render-monitor{
            margin-bottom: 1rem;
        }
    }

}