.home{
    
    .subfront{
        font-size: 1.2rem;
    }
    .agile{
        .slide{
            height: 350px
        }
    }
        #load{
           height: 30vh!important;
        }
  
    .pannelview{
        margin-top: 50px
    }
    .frontpageimages{
        margin-top: 50px;
        text-align: center;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }   
    }

    .logo{
        width: 100%;
        margin: 40px 0px;
        height: auto;
    }
    .logotext{
        margin-top: 80px
    }
    .initchar{
        font-size: 9rem
    }
    .initcharaccount{
        font-size: 4rem;
    }

}