.page-footer{
    margin-top: 120px!important;
    ul{
        li{
            a{                
                &:hover {
                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -ms-transition: .2s;
                    -o-transition: .2s;
                    transition: .2s;
                    color: $red!important;
                }
            }
        }
    }
}