.home{
    .agile {
        &__dots {
            bottom: 0;
            display: block;
            left: 10px;
            position: absolute;
            width: 30px;
        }

        &__dot {
            margin-bottom: 10px;

            button {
                background-color: transparent;
                border: 1px solid #fff;
                margin-top: 10px;

                &:hover {
                    background-color: #fff;
                }
            }

            &--current {
                button {
                    background-color: #fff;
                }
            }
        }
    }
    .slide {
        background: {
            position: center;
            size: cover;
        }
        height: 500px;

        &--1 {
            background-image: url(../images/slider2/1.png);
        }
        &--2 {
            background-image: url(../images/slider2/2.png);
        }
        &--3 {
            background-image: url(../images/slider2/3.png);
        }
        &--4 {
            background-image: url(../images/slider2/4.png);
        }
    }
}