.grijs{
    color: $grey!important
}
.blauw{
    color: $blue!important
}
.rood{
    color: $red!important
}
.groen{
    color: $green!important
}
.beige{
    color: $beige!important
}
.wit{
    color: $wit!important
}
.grijsbackground{
    background-color: $grey!important
}
.blauwbackground{
    background-color: $blue!important
}
.roodbackground{
    background-color: $red!important
}
.groenbackground{
    background-color: $green!important
}
.beigebackground{
    background-color: $beige!important
}
.lower{
    text-transform: lowercase;
}
.fullwidth{
    width: 100%
}
.autooverflow{
    overflow: auto;
}
.hand:hover{
    cursor: pointer;
}
.link{
    color: $red;
    border-bottom: 2px solid $red;
    a{
        text-decoration: none!important;
    }
}
.nounderline{
    border-bottom: 0px;
}
.strong{
    font-weight: 700!important
}
.halfstrong{
    font-weight: 500!important
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.notopmargin{
    margin-top: 0px !important;
}
.bold{
    font-weight: 700
}
.regulartext{
    color: $grey;
    font-size: 1.0rem
}
.leftcenter{
    text-align: left
}
.rightcenter{
    text-align: right
}
.halfcard{
    height: 300px;
}
.halfplus{
    height: 400px;
}
.halfminus{
    height: 200px;
}
.fullcard{
    height: 600px;
}
.fullheight{
    height: 100%;
}
.pannelpadding {
    padding: 0.3rem!important
}