.material-icons{
    font-family: $material;
    font-style: normal;
}
.pagetitle{
    font-family: $montserat;
    text-transform: uppercase;
    color: $green
  }
  .subtitlefrontpage{
    font-family: $montserat;
    font-size: 1.8rem;
    color: $blue
}
.titlefrontpage{
    font-family: $montserat
}