
@import url(https://fonts.googleapis.com/css?family=Montserrat);
$montserat : 'Montserrat';
@font-face {
    font-family: 'Material';
    font-style: normal;
    font-weight: 400;   
    src: url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
         url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff) format('woff'),
         url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.ttf) format('truetype');
  }
$material : 'Material';