
//@import url('https://fonts.googleapis.com/css?family=Raleway');
//@font-face {
//    font-family: Lemon/Milk;
//    src: url('../fonts/lemonmilk/LemonMilk.otf')format("opentype")p,
//    url('../fonts/lemonmilk/LemonMilk.woff') format('woff'), /* Pretty Modern Browsers */
//    url('../fonts/lemonmilk/LemonMilk.ttf')  format('truetype'), /* Safari, Android, iOS */
//    url('../fonts/lemonmilk/LemonMilk.svg#LemonMilk') format('svg') /* Legacy iOS */
//};
//$lemonmilk : 'Lemon/Milk';
//$raleway : 'Raleway', sans-serif;
@font-face {
    font-family: 'Material';
    font-style: normal;
    font-weight: 400;   
    src: url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
         url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff) format('woff'),
         url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.ttf) format('truetype');
  }
$material : 'Material'