.grijs{
    color: $grey!important
}
.blauw{
    color: $blue!important
}
.rood{
    color: $red!important
}
.groen{
    color: $green!important
}
.beige{
    color: $beige!important
}
.wit{
    color: $wit!important
}
.grijsbackground{
    background-color: $grey!important
}
.blauwbackground{
    background-color: $blue!important
}
.roodbackground{
    background-color: $red!important
}
.groenbackground{
    background-color: $green!important
}
.beigebackground{
    background-color: $beige!important
}
.lower{
    text-transform: lowercase;
}
.fullwidth{
    width: 100%
}
.autooverflow{
    overflow: auto;
}
.link{
    color: $red;
    border-bottom: 2px solid $red;
}
.strong{
    font-weight: 700
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}